<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives Exercise</h1>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
                <button v-myon:click="'Button clicked'">
                    Custom directive button
                </button>

                <div
                    class='eventDiv'
                    :style='{height: "200px", width: "200px", backgroundColor: "red" }'
                    v-customOn:mouseenter="'mouseenter'"
                    v-customOn:mouseleave="'mouseleave'"
                    v-customOn:mouseover="'mouseover'"
                >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>

<style>
</style>
